In [6]:
#LECTURA DE ARCHIVOS Y ACCESO DE BASES DE DATOS
import numpy as np
sunspots=np.loadtxt('sunspots.txt',dtype=)

In [5]:
import pandas as pd

In [6]:
tabulador=pd.read_excel('tabulador_pe2019.xls',header=9)

In [7]:
pd.read_excel

<function pandas.io.excel.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, **kwds)>

In [13]:
tabulador.describe

<bound method NDFrame.describe of     NIVEL TIPO                            PUESTO   SUELDO BASE  \
0      22  NaN           GOBERNADOR/A DEL ESTADO  59804.327930
1      20  NaN          SECRETARIO/A DE ESTADO A  49025.945517
2      19  NaN  DIRECTOR/A GENERAL PARAESTATAL A  40685.951590
3      19  NaN          SECRETARIO/A DE ESTADO B  40685.951590
4      18  NaN          SECRETARIO/A DE ESTADO C  37083.708634
5      18  NaN                 SUBSECRETARIO/A A  37083.708634
6      18  NaN  DIRECTOR/A GENERAL PARAESTATAL B  37083.708634
7      17  NaN                 SUBSECRETARIO/A B  36196.185147
8      17  NaN  DIRECTOR/A GENERAL PARAESTATAL C  36196.185147
9      16  NaN                 SUBSECRETARIO/A C  29462.206543
10     16  NaN  DIRECTOR/A GENERAL PARAESTATAL D  29462.206543
11     16  NaN           COORDINADOR/A GENERAL A  29462.206543
12     15  NaN                 SUBSECRETARIO/A D  25790.604996
13     15  NaN           COORDINADOR/A GENERAL B  25790.604996
14     15  NaN              DIRECTOR/A GENERAL A  25790.604996
15     14  NaN              DIRECTOR/A DE AREA A  23736.496445
16     14  NaN           COORDINADOR/A GENERAL C  23736.496445
17     14  NaN              DIRECTOR/A GENERAL B  23736.496445
18     13  NaN        COORDINADOR/A DE PROGRAMAS  22680.796123
19     13  NaN              DIRECTOR/A DE AREA B  22680.796123
20     13  NaN              DIRECTOR/A GENERAL C  22680.796123
21     12  NaN              DIRECTOR/A DE AREA C  20354.485688
22     12  NaN      COORDINADOR/A DE PROYECTOS A  20354.485688
23     12  NaN              DIRECTOR/A GENERAL D  20354.485688
24     12  NaN  COORDINADOR/A ADMINISTRATIVO/A A  20354.485688
25     11  NaN      COORDINADOR/A DE PROYECTOS B  15406.683621
26     11  NaN       COORDINADOR/A OPERATIVO/A A  15406.683621
27     11  NaN              DIRECTOR/A DE AREA D  15406.683621
28     11  NaN  COORDINADOR/A ADMINISTRATIVO/A B  15406.683621
29     10    A                     INSPECTOR/A A  12197.998857
..    ...  ...                               ...           ...
49      6  NaN          ESPECIALISTA TECNICO/A C   6999.168402
50      6  NaN       ADMINISTRADOR/A COMERCIAL A   6999.168402
51      5    A                 POLICIA TERCERO A   5298.129047
52      5  NaN   ESPECIALISTA ADMINISTRATIVO/A B   5298.129047
53      5  NaN          ESPECIALISTA TECNICO/A D   5298.129047
54      5  NaN                JEFE/A DE UNIDAD B   5298.129047
55      5  NaN       ADMINISTRADOR/A COMERCIAL B   5298.129047
56      4    A                           POLICIA   4592.879978
57      4  NaN          ESPECIALISTA TECNICO/A E   4564.185105
58      4  NaN   ESPECIALISTA ADMINISTRATIVO/A C   4564.185105
59      4  NaN         ESPECIALISTA DE SERVICIOS   4564.185105
60      4  NaN       ADMINISTRADOR/A COMERCIAL C   4564.185105
61      3  NaN            OPERADOR/A COMERCIAL A   4129.411442
62      3  NaN            OPERADOR/A TECNICO/A A   4129.411442
63      3  NaN         OPERADOR/A DE SERVICIOS A   4129.411442
64      3  NaN     OPERADOR/A ADMINISTRATIVO/A A   4129.411442
65      3  NaN             CADETE EN FORMACION A   4129.411442
66      2  NaN            OPERADOR/A TECNICO/A B   3732.062858
67      2  NaN            OPERADOR/A COMERCIAL B   3732.062858
68      2  NaN         OPERADOR/A DE SERVICIOS B   3732.062858
69      2  NaN     OPERADOR/A ADMINISTRATIVO/A B   3732.062858
70      2  NaN             CADETE EN FORMACION B   3732.062858
71      1  NaN            OPERADOR/A COMERCIAL C   3374.277535
72      1  NaN            OPERADOR/A TECNICO/A C   3374.277535
73      1  NaN         OPERADOR/A DE SERVICIOS C   3374.277535
74      1  NaN     OPERADOR/A ADMINISTRATIVO/A C   3374.277535
75      1    A     OPERADOR/A ADMINISTRATIVO/A D   3080.400000
76      1    A         OPERADOR/A DE SERVICIOS D   3080.400000
77      1    A            OPERADOR/A COMERCIAL D   3080.400000
78      1    A            OPERADOR/A TECNICO/A D   3080.400000

    CUOTAS SEGURIDAD SOCIAL  PREVISIÓN SOCIAL  AYUDA X SERVICIOS  \
0               5843.070000            1913.1              25897
1               5843.070000            1913.1              22783
2               5843.070000            1913.1              18805
3               5843.070000            1913.1              18805
4               5843.070000            1913.1              16756
5               5843.070000            1913.1              16756
6               5843.070000            1913.1              16756
7               5843.070000            1913.1              15006
8               5843.070000            1913.1              15006
9               5621.674080            1913.1              10471
10              5621.674080            1913.1              10471
11              5621.674080            1913.1              10471
12              5015.859824            1913.1               8973
13              5015.859824            1913.1               8973
14              5015.859824            1913.1               8973
15              4628.616807            1913.1               6554
16              4628.616807            1913.1               6554
17              4628.616807            1913.1               6554
18              4422.755244            1913.1               4906
19              4422.755244            1913.1               4906
20              4422.755244            1913.1               4906
21              3969.124709            1913.1               4165
22              3969.124709            1913.1               4165
23              3969.124709            1913.1               4165
24              3969.124709            1913.1               4165
25              3004.303306            1913.1               3713
26              3004.303306            1913.1               3713
27              3004.303306            1913.1               3713
28              3004.303306            1913.1               3713
29              2378.609777            1913.1               2741
..                      ...               ...                ...
49              1364.837838            1913.1                863
50              1364.837838            1913.1                863
51              1033.135164            1913.1                785
52              1033.135164            1913.1                785
53              1033.135164            1913.1                785
54              1033.135164            1913.1                785
55              1033.135164            1913.1                785
56               895.611596            1913.1                450
57               890.016096            1913.1                450
58               890.016096            1913.1                450
59               890.016096            1913.1                450
60               890.016096            1913.1                450
61               805.235231            1913.1                450
62               805.235231            1913.1                450
63               805.235231            1913.1                450
64               805.235231            1913.1                450
65               805.235231            1913.1                450
66               727.752257            1913.1                450
67               727.752257            1913.1                450
68               727.752257            1913.1                450
69               727.752257            1913.1                450
70               727.752257            1913.1                450
71               657.984119            1913.1                450
72               657.984119            1913.1                450
73               657.984119            1913.1                450
74               657.984119            1913.1                450
75               600.678000            1913.1                450
76               600.678000            1913.1                450
77               600.678000            1913.1                450
78               600.678000            1913.1                450

    APOYO FAMILIAR  GRATIFICACIÓN QUINCENAL  SUELDO MENSUAL BRUTO  \
0     64294.837780                 75373.99         233126.325711
1     48858.839699                 67187.62         195611.575216
2     41397.705456                 49230.82         157875.647046
3     41397.705456                 49230.82         157875.647046
4     35924.238404                 42651.90         140172.017038
5     35924.238404                 42651.90         140172.017038
6     35924.238404                 42651.90         140172.017038
7     29739.459369                 35311.60         124009.414516
8     29739.459369                 35311.60         124009.414516
9     26559.244848                 33446.67         107473.895470
10    26559.244848                 33446.67         107473.895470
11    26559.244848                 33446.67         107473.895470
12    26293.675997                 29531.30          97517.540818
13    26293.675997                 29531.30          97517.540818
14    26293.675997                 29531.30          97517.540818
15    21043.662709                 23042.95          80918.825960
16    21043.662709                 23042.95          80918.825960
17    21043.662709                 23042.95          80918.825960
18    16798.836156                 19519.33          70240.817524
19    16798.836156                 19519.33          70240.817524
20    16798.836156                 19519.33          70240.817524
21    15981.245368                 15967.94          62350.895766
22    15981.245368                 15967.94          62350.895766
23    15981.245368                 15967.94          62350.895766
24    15981.245368                 15967.94          62350.895766
25    14561.559273                 13537.17          52135.816200
26    14561.559273                 13537.17          52135.816200
27    14561.559273                 13537.17          52135.816200
28    14561.559273                 13537.17          52135.816200
29    15204.740200                  9437.78          43873.228834
..             ...                      ...                   ...
49     5469.561333                  5026.42          21636.087573
50     5469.561333                  5026.42          21636.087573
51     6453.270563                  2968.00          18450.634774
52     4653.952461                  2968.00          16651.316672
53     4653.952461                  2968.00          16651.316672
54     4653.952461                  2968.00          16651.316672
55     4653.952461                  2968.00          16651.316672
56     6560.085291                   936.54          15348.216866
57     3599.725827                   936.54          12353.567028
58     3599.725827                   936.54          12353.567028
59     3599.725827                   936.54          12353.567028
60     3599.725827                   936.54          12353.567028
61     3347.786733                   795.03          11440.563407
62     3347.786733                   795.03          11440.563407
63     3347.786733                   795.03          11440.563407
64     3347.786733                   795.03          11440.563407
65     3347.786733                   795.03          11440.563407
66     2825.625180                   135.31           9783.850296
67     2825.625180                   135.31           9783.850296
68     2825.625180                   135.31           9783.850296
69     2825.625180                   135.31           9783.850296
70     2825.625180                   135.31           9783.850296
71     2364.753825                    34.39           8794.505479
72     2364.753825                    34.39           8794.505479
73     2364.753825                    34.39           8794.505479
74     2364.753825                    34.39           8794.505479
75     1572.330000                     0.00           7616.508000
76     1572.330000                     0.00           7616.508000
77     1572.330000                     0.00           7616.508000
78     1572.330000                     0.00           7616.508000

    IMPTO MENSUAL        ISSEG      ISSSTE  SUELDO MENSUAL NETO  \
0    69584.321342  5082.660000  760.410000        157698.934369
1    56829.306173  5082.660000  760.410000        132939.199042
2    43999.090596  5082.660000  760.410000        108033.486450
3    43999.090596  5082.660000  760.410000        108033.486450
4    37979.856393  5082.660000  760.410000         96349.090645
5    37979.856393  5082.660000  760.410000         96349.090645
6    37979.856393  5082.660000  760.410000         96349.090645
7    32484.571535  5082.660000  760.410000         85681.772980
8    32484.571535  5082.660000  760.410000         85681.772980
9    26937.769673  4861.264080  760.410000         74914.451718
10   26937.769673  4861.264080  760.410000         74914.451718
11   26937.769673  4861.264080  760.410000         74914.451718
12   23852.224718  4255.449824  760.410000         68649.456275
13   23852.224718  4255.449824  760.410000         68649.456275
14   23852.224718  4255.449824  760.410000         68649.456275
15   18664.553729  3916.521913  712.094893         57625.655425
16   18664.553729  3916.521913  712.094893         57625.655425
17   18664.553729  3916.521913  712.094893         57625.655425
18   15454.848684  3742.331360  680.423884         50363.213596
19   15454.848684  3742.331360  680.423884         50363.213596
20   15454.848684  3742.331360  680.423884         50363.213596
21   13223.961317  3358.490139  610.634571         45157.809740
22   13223.961317  3358.490139  610.634571         45157.809740
23   13223.961317  3358.490139  610.634571         45157.809740
24   13223.961317  3358.490139  610.634571         45157.809740
25   10448.883868  2542.102798  462.200509         38682.629026
26   10448.883868  2542.102798  462.200509         38682.629026
27   10448.883868  2542.102798  462.200509         38682.629026
28   10448.883868  2542.102798  462.200509         38682.629026
29    8157.815717  2012.669811  365.939966         33336.803340
..            ...          ...         ...                  ...
49    3036.483623  1154.862786  209.975052         17234.766111
50    3036.483623  1154.862786  209.975052         17234.766111
51    2426.922597   874.191293  158.943871         14990.577013
52    2042.588250   874.191293  158.943871         13575.593258
53    2042.588250   874.191293  158.943871         13575.593258
54    2042.588250   874.191293  158.943871         13575.593258
55    2042.588250   874.191293  158.943871         13575.593258
56    1793.621166   757.825196  137.786399         12658.984104
57    1173.958791   753.090542  136.925553         10289.592141
58    1173.958791   753.090542  136.925553         10289.592141
59    1173.958791   753.090542  136.925553         10289.592141
60    1173.958791   753.090542  136.925553         10289.592141
61    1025.541273   681.352888  123.882343          9609.786902
62    1025.541273   681.352888  123.882343          9609.786902
63    1025.541273   681.352888  123.882343          9609.786902
64    1025.541273   681.352888  123.882343          9609.786902
65    1025.541273   681.352888  123.882343          9609.786902
66     761.262086   615.790372  111.961886          8294.835952
67     761.262086   615.790372  111.961886          8294.835952
68     761.262086   615.790372  111.961886          8294.835952
69     761.262086   615.790372  111.961886          8294.835952
70     761.262086   615.790372  111.961886          8294.835952
71     639.354852   556.755793  101.228326          7497.166508
72     639.354852   556.755793  101.228326          7497.166508
73     639.354852   556.755793  101.228326          7497.166508
74     639.354852   556.755793  101.228326          7497.166508
75     263.883632   508.266000   92.412000          6751.946368
76     263.883632   508.266000   92.412000          6751.946368
77     263.883632   508.266000   92.412000          6751.946368
78     263.883632   508.266000   92.412000          6751.946368

   PRIMA VACACIONAL        AGUINALDO
0   10 Días por Año  45 Días por Año
1   10 Días por Año  45 Días por Año
2   10 Días por Año  45 Días por Año
3   10 Días por Año  45 Días por Año
4   10 Días por Año  45 Días por Año
5   10 Días por Año  45 Días por Año
6   10 Días por Año  45 Días por Año
7   10 Días por Año  45 Días por Año
8   10 Días por Año  45 Días por Año
9   10 Días por Año  45 Días por Año
10  10 Días por Año  45 Días por Año
11  10 Días por Año  45 Días por Año
12  10 Días por Año  45 Días por Año
13  10 Días por Año  45 Días por Año
14  10 Días por Año  45 Días por Año
15  10 Días por Año  45 Días por Año
16  10 Días por Año  45 Días por Año
17  10 Días por Año  45 Días por Año
18  10 Días por Año  45 Días por Año
19  10 Días por Año  45 Días por Año
20  10 Días por Año  45 Días por Año
21  10 Días por Año  45 Días por Año
22  10 Días por Año  45 Días por Año
23  10 Días por Año  45 Días por Año
24  10 Días por Año  45 Días por Año
25  10 Días por Año  45 Días por Año
26  10 Días por Año  45 Días por Año
27  10 Días por Año  45 Días por Año
28  10 Días por Año  45 Días por Año
29  10 Días por Año  45 Días por Año
..              ...              ...
49  10 Días por Año  45 Días por Año
50  10 Días por Año  45 Días por Año
51  10 Días por Año  45 Días por Año
52  10 Días por Año  45 Días por Año
53  10 Días por Año  45 Días por Año
54  10 Días por Año  45 Días por Año
55  10 Días por Año  45 Días por Año
56  10 Días por Año  45 Días por Año
57  10 Días por Año  45 Días por Año
58  10 Días por Año  45 Días por Año
59  10 Días por Año  45 Días por Año
60  10 Días por Año  45 Días por Año
61  10 Días por Año  45 Días por Año
62  10 Días por Año  45 Días por Año
63  10 Días por Año  45 Días por Año
64  10 Días por Año  45 Días por Año
65  10 Días por Año  45 Días por Año
66  10 Días por Año  45 Días por Año
67  10 Días por Año  45 Días por Año
68  10 Días por Año  45 Días por Año
69  10 Días por Año  45 Días por Año
70  10 Días por Año  45 Días por Año
71  10 Días por Año  45 Días por Año
72  10 Días por Año  45 Días por Año
73  10 Días por Año  45 Días por Año
74  10 Días por Año  45 Días por Año
75  10 Días por Año  45 Días por Año
76  10 Días por Año  45 Días por Año
77  10 Días por Año  45 Días por Año
78  10 Días por Año  45 Días por Año

[79 rows x 16 columns]>

In [12]:
import requests
import lxml
import os as os

In [19]:
file='salarios_minimos.csv'
url="https://idconline.mx/laboral/salarios-minimos/salarios-minimos-1986-2007"
html=requests.get(url).content
df_list=pd.read_html(html,header=0)
df=df_list[-1]
df.to_csv('salarios_minimos.csv')
df=pd.read_csv(file)
df

,Unnamed: 0,Fecha de publicación el DOF,Vigente a partir de:,Salario mínimo vigente en,Salario mínimo área geográfica,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,0,ZLFN1,Resto del país,"""A""","""B""","""C""",NaN,NaN
1,1,26 de diciembre de 2018,1o. enero 2019,$176.72,$102.68,NaN,NaN,NaN
2,2,21 de diciembre de 2017,1o. enero 2018,NaN,NaN,$88.36,NaN,NaN
3,3,24 de noviembre de 2017,1o. diciembre 2017,NaN,NaN,88.36,NaN,NaN
4,4,19 de diciembre de 2016,1o. enero 2017,NaN,NaN,80.04,NaN,NaN
5,5,18 de diciembre de 2015,1o. enero 2016,NaN,NaN,73.04,NaN,NaN
6,6,30 de septiembre de 2015,1o. octubre de 2015,NaN,NaN,70.10,NaN,NaN
7,7,30 de marzo de 2015,1o. abril 2015,NaN,NaN,70.10,68.28,NaN
8,8,29 de diciembre de 2014,1o. enero 2015,NaN,NaN,70.10,66.45,NaN
9,9,26 de diciembre de 2013,1o. enero 2014,NaN,NaN,67.29,63.77,NaN
10,10,21 de diciembre de 2012,1o. enero 2013,NaN,NaN,64.76,61.38,NaN
11,11,26 de noviembre de 2012,27 de noviembre 2012,NaN,NaN,62.33,59.08,N/A 2
12,12,19 de diciembre de 2011,1o. enero 2012,NaN,NaN,62.33,60.57,59.08
13,13,23 de diciembre de 2010,1o. enero 2011,NaN,NaN,59.82,58.13,56.70
14,14,23 de diciembre de 2009,1o. enero 2010,NaN,NaN,57.46,55.84,54.47
15,15,23 de diciembre de 2008,1o. enero 2009,NaN,NaN,54.80,53.26,51.95
16,16,27 de diciembre de 2007,1o. enero 2008,NaN,NaN,52.59,50.96,49.50
17,17,29 de diciembre de 2006,1o. enero 2007,NaN,NaN,50.57,49.00,47.60
18,18,26 de diciembre de 2005,1o. enero 2006,NaN,NaN,48.67,47.16,45.81
19,19,22 de diciembre de 2004,1° enero 2005,NaN,NaN,46.80,45.35,44.05
20,20,23 de diciembre de 2003,1º. enero 2004,NaN,NaN,45.24,43.73,42.11
21,21,26 de diciembre de 2002,1º. enero 2003,NaN,NaN,43.65,41.85,40.30
22,22,29 de diciembre de 2001,1º. enero 2002,NaN,NaN,42.15,40.10,38.30
23,23,27 de diciembre de 2000,1º. enero 2001,NaN,NaN,40.35,37.95,35.85
24,24,31 de diciembre de 1999,1º. enero 2000,NaN,NaN,37.90,35.10,32.70
25,25,2 de diciembre de 1998,1o. enero 1999,NaN,NaN,34.45,31.90,29.70
26,26,23 de diciembre de 1997,1o. enero 1998,NaN,NaN,30.20,28.00,26.00
27,27,2 de diciembre de 1996,1o. enero 1997,NaN,NaN,26.45,24.50,22.50
28,28,2 de diciembre de 1996,3 de diciembre 1996,NaN,NaN,26.45,24.50,22.50
29,29,28 de marzo de 1996,1o. abril 1996,NaN,NaN,22.60,20.95,19.05
30,30,2 de diciembre de 1995,1o. enero 1996,NaN,NaN,20.15,18.70,17.00
31,31,2 de diciembre 1995,4 de diciembre 1995,NaN,NaN,20.15,18.70,17.00
32,32,31 de marzo 1995,1o. abril 1995,NaN,NaN,18.30,17.00,15.44
33,33,21 de diciembre 1994,1o. enero 1995,NaN,NaN,16.34,15.18,13.79
34,34,13 de diciembre 1993,1o. enero 1994,NaN,NaN,15.27,14.19,12.89
35,35,7 de diciembre 1992,1o. enero 1993,NaN,NaN,N$ 14.27,N$ 13.26,N$ 12.05
36,36,4 de diciembre 1991,1o. enero 1992,NaN,NaN,13330.00,12320.00,11115.00
37,37,11 de noviembre 1991,11 de noviembre 1991,NaN,NaN,13330.00,12320.00,11115.00
38,38,24 de diciembre 1990,1o. enero 1991,NaN,NaN,11900.00,11000.00,9920.00
39,39,15 de noviembre 1990,16 de noviembre 1990,NaN,NaN,11900.00,11000.00,9920.00
40,40,4 de diciembre 1989,1o. enero 1990,NaN,NaN,10080.00,9325.00,8405.00
41,41,4 de diciembre 1989,4 de diciembre 1989,NaN,NaN,10080.00,9325.00,8405.00
42,42,26 de junio de 1989,1o. julio 1989,NaN,NaN,9160.00,8475.00,7640.00
43,43,14 de diciembre 1988,1o. enero 1989,NaN,NaN,8640.00,7995.00,7205.00
44,44,29 de febrero 1988,1o. marzo 1988,NaN,NaN,8000.00,7405.00,6670.00

In [17]:
os?

Type:        module
String form: <module 'os' from 'C:\\Users\\alean\\Anaconda3\\lib\\os.py'>
File:        c:\users\alean\anaconda3\lib\os.py
Docstring:
OS routines for NT or Posix depending on what system we're on.

This exports:
  - all functions from posix or nt, e.g. unlink, stat, etc.
  - os.path is either posixpath or ntpath
  - os.name is either 'posix' or 'nt'
  - os.curdir is a string representing the current directory (always '.')
  - os.pardir is a string representing the parent directory (always '..')
  - os.sep is the (or a most common) pathname separator ('/' or '\\')
  - os.extsep is the extension separator (always '.')
  - os.altsep is the alternate pathname separator (None or '/')
  - os.pathsep is the component separator used in $PATH etc
  - os.linesep is the line separator in text files ('\r' or '\n' or '\r\n')
  - os.defpath is the default search path for executables
  - os.devnull is the file path of the null device ('/dev/null', etc.)

Programs that import and use 'os' stand a better chance of being
portable between different platforms.  Of course, they must then
only use functions that are defined by all platforms (e.g., unlink
and opendir), and leave all pathname manipulation to os.path
(e.g., split and join).